*{
    margin: 0;
    padding: 0;

}



header{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    // background-color: #0267f4;
    background: linear-gradient(70deg, #0267f4 0%, #0267f4 52%, rgb(65, 129, 247) 52%, rgb(65, 129, 247) 81%, #0267f4 70%);
    height: 100vh;

    button{
        &:hover{
            cursor: pointer;
            box-shadow: black 3px 3px;
        }

        &:active{
            cursor: pointer;
            box-shadow: none;
        }
    }

    nav{
        padding: 1%;
        display: flex;
        justify-content: space-around;

        img{
            margin-left: 13vw;
        }

        a{
            color: white;
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                background: linear-gradient(to right, transparent 15%, #0267f400 15% , white 87%, transparent 87%);
                background-position: 0px 90%;
                background-size: 100% 4px;
                background-repeat: repeat-x;
            }
        }

        .menu{
            width: 40vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // @media screen and (max-width :600px) {
            //     display: none;
            // }
        }

        button{
            font-weight: bolder;
            width: 106px;
            height: 46px;
            border-radius: 5px;
            background-color: white;
            color: #0267f4;
            border: none;
            margin-right: 10vw;
        }
    }

    #container{
        display: flex;
        justify-content: space-between;
        color: white;
        width: 100%;

        #leftArrow{
            width: 15%;
            // @media screen and (max-width :600px) {
            //     display: none;
            // }
        }

        #rightArrow{
            width: 10%;
            // @media screen and (max-width :600px) {
            //     display: none;
            // }
        }

        .Arrow{
            display: flex;
            flex-direction: column ;
            align-items: center;
            justify-content: center;
            font-size: xx-large;
            margin-bottom: 10vh;
        }

        #content{
            display: flex;
            justify-content: space-between;
            #rocket{
                width: 43vw;
                // @media screen and (max-width :600px) {
                //     display: none;
                // }
            }
        }

        #text{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 105px;
                // @media screen and (max-width :600px) {
                //     font-size: 150%;
                // }
            }

            
            p{
                margin: 4vh 0 4vh 0;
            }

            #buttons{
                display: flex;
                
                #button1{
                    font-weight: bolder;
                    border-radius: 25px;
                    background-color: white;
                    color: #0267f4;
                    border: none;
                    padding: 15px 25px;
                    margin-right: 1%;
                }
                #button2{
                    box-sizing: border-box;
                    font-weight: bolder;
                    border-radius: 25px;
                    background-color:#0267f4;
                    color: white;
                    border: white solid 3px;
                    padding: 15px 25px;
                    margin-left: 1%;
                }
            }
        }
    }

}